body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2 {
    text-align: center;
}

#container {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;



}

#container div {
    width: 200px;
    height: 200px;

}

/* div:nth-last-of-type(5) {
    align-self: self-end;
} */


/* div:nth-of-type(2) {   
    align-self: flex-end;
}

div:nth-of-type(3) {   
    align-self: flex-end;
} */

/* max-width: 300px; */
/* text-align: center;
    flex-basis: 500px;
}

    